@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

html,body{
  width: 100%;
  height: 100%;
  overflow: auto;
}

body {
  color: rgb(var(--foreground-rgb));
  font-family:"DM_Sans";
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  @apply bg-default text-default;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
